<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <property name="LOG_APPENDERS" value="${logbackAppenders:-CONSOLE}"/>
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
    <include resource="dev/vality/sharedresources/logback/console-appender.xml"/>
    <include resource="dev/vality/sharedresources/logback/properties-appender.xml"/>

    <root level="${loggingLevelRoot}">
        <if condition='property("LOG_APPENDERS").contains("CONSOLE")'>
            <then>
                <appender-ref ref="CONSOLE"/>
            </then>
        </if>
        <if condition='property("LOG_APPENDERS").contains("STDOUT")'>
            <then>
                <appender-ref ref="STDOUT"/>
            </then>
        </if>
    </root>

    <include file="dev/vality/sharedresources/logback/loggers.xml"/>

    <jmxConfigurator/>
</configuration>
